<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">Movie Recommendation System</h1>
        <form method="POST" action="{% url 'recommend_movies' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="movie_name">Movie</label>
                <input type="text" class="form-control" id="movie_name" name="movie_name" placeholder="Enter movie name">
            </div>
            <button type="submit"  class="btn btn-primary">Recommend</button>
        </form>
    </div>
    {% block body %}{% endblock body %}
    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>